# --- Config ---
alias zcfg="vim ~/.zshrc"
alias zrld="source ~/.zshrc"
alias tcfg="vim ~/.tmux.conf"
alias trld="tmux source ~/.tmux.conf"
alias acfg="vim .alacritty.yml"

alias loadnvm=". $HOME/.nvm/nvm.sh"

# --- Shortcuts ---
alias lsal="ls -al"


# --- Remaps ---
alias vim="nvim"

alias cobra-cli="~/go/bin/cobra-cli"

alias dev-tmux="sh ~/Documents/Development/dotfiles/shell/tmux-start.sh"
